[submodule "paper/lib/acmart"]
	path = paper/lib/acmart
	url = git@github.com:michel-steuwer/typst-acmart.git
[submodule "paper/lib/basics"]
	path = paper/lib/basic
	url = https://github.com/timjs/typst-basic.git
